<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Project Test1" verbose="1">
<!--    <listeners>-->
<!--        <listener class-name="tests.listeners.CustomListener"/>-->
<!--    </listeners>-->
    <test name="tests.unit_tests.Calculator">
        <parameter name="browserName" value="Chrome"/>
        <parameter name="country" value="SE"/>
        <packages>
            <package name="tests"/>
            <package name="kolya"/>
            <package name="lera"/>
            <package name="lesha"/>
            <package name="nastya"/>
            <package name="ruslan"/>
            <package name="sasha"/>
        </packages>
        <classes>
            <class name="tests.unit_tests.CalculatorTests">
                <methods>
                    <exclude name="test1"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="tests.Calculator2">
        <parameter name="browserName" value="Firefox"/>
        <parameter name="country" value="NL"/>
        <packages>
            <package name="tests"/>
            <package name="kolya"/>
            <package name="lera"/>
            <package name="lesha"/>
            <package name="nastya"/>
            <package name="ruslan"/>
            <package name="sasha"/>
        </packages>
        <classes>
            <class name="tests.unit_tests.CalculatorTests">
                <methods>
                    <exclude name="test1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>